<h1>Articles</h1>

<%= link_to 'New Article', new_article_path %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <strong><%= link_to article.title, article %></strong>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Delete', article, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this article?' } %>
    </li>
  <% end %>
</ul>
